<h1>New collection</h1>
<% form_for :collection, @collection, :url => { :action => "create", :user_name => current_researcher.user_name, :id => @collection.id } do |f| -%>
  <%= f.error_messages %>

  <%= f.hidden_field :researcher_id, :value => current_researcher.id %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <%= f.hidden_field :scraped_collection, :value => false %>.
  <%= f.hidden_field :scrape_method, :value => "Curate" %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end -%>

<%= link_to 'Back', collections_path %>