<p>
  <b>Twitter:</b>
  <%=h @user.twitter_id %>
</p>

<p>
  <b>Name:</b>
  <%=h @user.name %>
</p>

<p>
  <b>Screen name:</b>
  <%=h @user.screen_name %>
</p>

<p>
  <b>Location:</b>
  <%=h @user.location %>
</p>

<p>
  <b>Description:</b>
  <%=h @user.description %>
</p>

<p>
  <b>Profile image url:</b>
  <%=h @user.profile_image_url %>
</p>

<p>
  <b>Url:</b>
  <%=h @user.url %>
</p>

<p>
  <b>Protected:</b>
  <%=h @user.protected %>
</p>

<p>
  <b>Followers count:</b>
  <%=h @user.followers_count %>
</p>

<p>
  <b>Profile background color:</b>
  <%=h @user.profile_background_color %>
</p>

<p>
  <b>Profile text color:</b>
  <%=h @user.profile_text_color %>
</p>

<p>
  <b>Profile link color:</b>
  <%=h @user.profile_link_color %>
</p>

<p>
  <b>Profile sidebar fill color:</b>
  <%=h @user.profile_sidebar_fill_color %>
</p>

<p>
  <b>Profile sidebar border color:</b>
  <%=h @user.profile_sidebar_border_color %>
</p>

<p>
  <b>Friends count:</b>
  <%=h @user.friends_count %>
</p>

<p>
  <b>Created at:</b>
  <%=h @user.created_at %>
</p>

<p>
  <b>Favourites count:</b>
  <%=h @user.favourites_count %>
</p>

<p>
  <b>Utc offset:</b>
  <%=h @user.utc_offset %>
</p>

<p>
  <b>Time zone:</b>
  <%=h @user.time_zone %>
</p>

<p>
  <b>Profile background image url:</b>
  <%=h @user.profile_background_image_url %>
</p>

<p>
  <b>Profile background tile:</b>
  <%=h @user.profile_background_tile %>
</p>

<p>
  <b>Notifications:</b>
  <%=h @user.notifications %>
</p>

<p>
  <b>Geo enabled:</b>
  <%=h @user.geo_enabled %>
</p>

<p>
  <b>Verified:</b>
  <%=h @user.verified %>
</p>

<p>
  <b>Following:</b>
  <%=h @user.following %>
</p>

<p>
  <b>Statuses count:</b>
  <%=h @user.statuses_count %>
</p>

<p>
  <b>Scrape:</b>
  <%=h @user.scrape_id %>
</p>

<p>
  <b>Contributors enabled:</b>
  <%=h @user.contributors_enabled %>
</p>

<p>
  <b>Lang:</b>
  <%=h @user.lang %>
</p>

<p>
  <b>Metadata:</b>
  <%=h @user.metadata_id %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>