<p>
  <b>Twitter:</b>
  <%=h @tweet.twitter_id %>
</p>

<p>
  <b>Published:</b>
  <%=h @tweet.published %>
</p>

<p>
  <b>Content:</b>
  <%=h @tweet.content %>
</p>

<p>
  <b>Source:</b>
  <%=h @tweet.source %>
</p>

<p>
  <b>Language:</b>
  <%=h @tweet.language %>
</p>

<p>
  <b>User:</b>
  <%=h @tweet.user_id %>
</p>

<p>
  <b>Scrape:</b>
  <%=h @tweet.scrape_id %>
</p>

<p>
  <b>Screen name:</b>
  <%=h @tweet.screen_name %>
</p>

<p>
  <b>Location:</b>
  <%=h @tweet.location %>
</p>

<p>
  <b>Link:</b>
  <%=h @tweet.link %>
</p>

<p>
  <b>In reply to status:</b>
  <%=h @tweet.in_reply_to_status_id %>
</p>

<p>
  <b>In reply to user:</b>
  <%=h @tweet.in_reply_to_user_id %>
</p>

<p>
  <b>Favorited:</b>
  <%=h @tweet.favorited %>
</p>

<p>
  <b>Truncated:</b>
  <%=h @tweet.truncated %>
</p>

<p>
  <b>In reply to screen name:</b>
  <%=h @tweet.in_reply_to_screen_name %>
</p>

<p>
  <b>To user:</b>
  <%=h @tweet.to_user_id %>
</p>

<p>
  <b>Created at:</b>
  <%=h @tweet.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%=h @tweet.updated_at %>
</p>

<p>
  <b>Lat:</b>
  <%=h @tweet.lat %>
</p>

<p>
  <b>Lon:</b>
  <%=h @tweet.lon %>
</p>

<p>
  <b>Metadata:</b>
  <%=h @tweet.metadata_id %>
</p>


<%= link_to 'Edit', edit_tweet_path(@tweet) %> |
<%= link_to 'Back', tweets_path %>