<div id="<%= "#{id_prefix}" if !id_prefix.blank? %>_metadata_<%= dataset.metadata.id %>" class="<%= dataset.class.to_s.underscore %> metadata">
  <h4><%= link_to dataset.name, collection_url(dataset.researcher.user_name, dataset.primary_collection.id), :class => "big" %></h4>
<% if !collection.blank? && !current_researcher.blank? && collection.researcher_id == current_researcher.id -%>
    <%= render :partial => "datasets/associate_button", :locals => {:dataset => dataset, :collection => collection, :id_prefix => id_prefix} %>
<% end -%>
<% if display_user_header -%>
  <h5>(From Collection: <%= link_to collection.name, collection_url(collection.primary_collection.id) %> by user: <%= collection.researcher.user_name %>)</h5>
<% end -%>
  <p>
<% if dataset.metadata.term != "retweet" -%>
      Term Searched for: <%= dataset.metadata.term %><br />
<% else -%>
      This is a retweet data set, and has no specific term searched for.<br />
<% end -%>
    Number of tweets: <%= number_with_delimiter(dataset.tweets_count) %> 
<% if dataset.name != "retweet" && dataset.tweets_count > 0 && dataset.scrape.collection.tweets_count > 0 -%>
      (<%= (dataset.tweets_count.to_f/dataset.scrape.collection.tweets_count*100).round(2) %>% of total)           
<% end -%><br />
    Number of users: <%= dataset.users_count %> 
<% if dataset.name != "retweet" && dataset.users_count > 0 && dataset.scrape.collection.users_count > 0 -%>
      (<%= (dataset.users_count.to_f/dataset.scrape.collection.users_count*100).round(2) %>% of total)
<% end -%><br />
<% if dataset.name != "retweet" %>
      Scrape duration: <%= dataset.scrape.humanized_length %><br />
<% else -%>
      This is a retweet data set, and has no specific time-frame of collection.<br />
<% end -%>
    Created: <%=h distance_of_time_in_words(dataset.created_at, Time.now) %> ago<br />
    Last Updated: <%=h distance_of_time_in_words(dataset.created_at, Time.now) %> ago<br />
  </p>
</div>
