<h1>Editing auth_user</h1>

<% form_for(@auth_user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :user_name %><br />
    <%= f.text_field :user_name %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </p>
  <p>
    <%= f.label :flagged %><br />
    <%= f.check_box :flagged %>
  </p>
  <p>
    <%= f.label :instance_name %><br />
    <%= f.text_field :instance_name %>
  </p>
  <p>
    <%= f.label :hostname %><br />
    <%= f.text_field :hostname %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @auth_user %> |
<%= link_to 'Back', auth_users_path %>