<p>
  <b>User name:</b>
  <%=h @auth_user.user_name %>
</p>

<p>
  <b>Currently Flagged:</b>
  <%=h @auth_user.flagged %>
</p>

<p>
  <b>Current Instance name:</b>
  <%=h @auth_user.instance_name ? "(none)" : @auth_user.instance_name %>
</p>

<p>
  <b>Current Hostname:</b>
  <%=h @auth_user.hostname ? "(none)" : @auth_user.hostname %>
</p>


<%= link_to 'Edit', edit_auth_user_path(@auth_user) %> |
<%= link_to 'Back', auth_users_path %>