
<!-- <div id="home_left"> -->
<div class="newsItem col">
  <h1>Welcome to 140kit.</h1>
  <h4>Go forth and research.<br />Leave the programming to us.</h4>
  <% if !logged_in? %>
    <%= link_to "Login", login_url, :class => 'big' %> | <%= link_to "Signup Now", signup_path, :class => 'big' %><br />
  <% end -%>
  <!-- status updates -->
</div>

<!-- <div id="home_right"> -->
  
<div class="newsItem col-2">
  <div class="slogan center">Start tracking a term on Twitter.</div>
  <div id="get_started" class="roundedEdge">
    <!-- <h3>Get Started:</h3> -->
    <% form_for :track_form, :url => track_submit_path do |f| %>
      <%= f.text_field :input, :class => 'term_field' %>
      <%= f.submit 'Track', :class => 'term_submit sans' %>
    <% end %>
  </div>
</div>


<div style="border-top:1px solid #CCCCCC; width:920px; margin-top:20px; float:left"></div>

<div>
  <div id="news_<%= @news.id %>" class="newsPost">
    <div>
      <% if @news.raw_html %>
      <%= @news.post %>
      <% else %>
        <p><%= RedCloth.new(@news.post).to_html %></p>
      <% end %>
    </div>
  <% if logged_in? && current_researcher.admin? -%>
    <%= link_to "Edit", edit_news_url(@news) %> | 
    <%= link_to_remote("Delete",
            :url => news_url(@news),
            :method => :delete,
            :loading => "Effect.BlindUp('news_#{@news.id}')") %>
  <% end -%>
  </div>
</div>

<br />
<!-- <div class="line"></div> -->