<% display_user_header = display_user_header || false %>
<div>
<% if display_user_header %>
  <h4><%= link_to tweet.screen_name, user_url(tweet.screen_name) %></h4>
<% end -%>
  <p>
    <%= tweet.text %><br />
    Originally Posted from <%= tweet.source %><br />
    Self-Reported Location: <%= tweet.location %><br />
<% if !tweet.in_reply_to_screen_name.blank? -%>
    Reply/Retweeted to tweet from: <%= link_to tweet.in_reply_to_screen_name, "/users/#{tweet.in_reply_to_screen_name}" %><br />
<% end -%>
<% if !tweet.lat.blank? -%>
    Coordinates of tweet: <%= tweet.lat %>, <%= tweet.lon %><br />
<% end -%>
    Primary Language: <%= Tweet.language(tweet.language) %>
  </p>
</div>
