<h1>Editing graph</h1>

<% form_for(@graph) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :format %><br />
    <%= f.text_field :format %>
  </p>
  <p>
    <%= f.label :scrape_id %><br />
    <%= f.text_field :scrape_id %>
  </p>
  <p>
    <%= f.label :hour %><br />
    <%= f.text_field :hour %>
  </p>
  <p>
    <%= f.label :minute %><br />
    <%= f.text_field :minute %>
  </p>
  <p>
    <%= f.label :date %><br />
    <%= f.text_field :date %>
  </p>
  <p>
    <%= f.label :written %><br />
    <%= f.check_box :written %>
  </p>
  <p>
    <%= f.label :lock %><br />
    <%= f.text_field :lock %>
  </p>
  <p>
    <%= f.label :flagged %><br />
    <%= f.text_field :flagged %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @graph %> |
<%= link_to 'Back', graphs_path %>