<p>
  <b>Instance:</b>
  <%=h @analytical_instance.instance_id %>
</p>

<p>
  <b>Hostname:</b>
  <%=h @analytical_instance.hostname %>
</p>

<p>
  <b>Instance name:</b>
  <%=h @analytical_instance.instance_name %>
</p>


<%= link_to 'Edit', edit_analytical_instance_path(@analytical_instance) %> |
<%= link_to 'Back', analytical_instances_path %>