<h1><%= @researcher.user_name.capitalize %></h1>
  <%= render :partial => 'image', :locals => {:researcher => @researcher} %>
  <p>
    <strong>Role:</strong> <%=h @researcher.role %><br />
   <strong>Hailing from:</strong> <%=h @researcher.location %><br />
   <% if @researcher.share_email %>
    <strong>E-mail:</strong> <%=h @researcher.email %><br />
   <% end %>
  <% if !@researcher.website_url.nil? %>
    <%= link_to @researcher.website_url.to_url, @researcher.website_url.to_url %><br />
  <% end %>
    <strong>Joined:</strong> about <%= distance_of_time_in_words(@researcher.join_date, Time.now) %> ago
  </p>
<h2>Currently Running</h2>
<% if !@unfinished_collections.empty? -%>
  <%= render :partial => "/collections/collections_index", :locals => {:collections => @unfinished_collections, :show_researchers => false} %>
<% else -%>
  You have no datasets currently running.
<% end -%>

<h2>Finished</h2>
<% if !@finished_collections.empty? -%>
  <%= render :partial => "/collections/collections_index", :locals => {:collections => @finished_collections, :show_researchers => false} %>
<% end -%>