<% if @items.first.class.to_s == "Tweet" -%>
<div id="dataDisplay">
    <% @tweets = @items -%>
    <h1>Listing tweets</h1>

<% for tweet in @tweets -%>
  <%= render :partial => "/tweets/tweet", :locals => {:tweet => tweet} %>
<% end -%>
  <%= will_paginate @tweets, :class => 'pagination ajax' %>
</div>
<% elsif @items.first.class.to_s == "User" -%>
<div id="dataDisplay">
<% @users = @items -%>
  <h1>Listing users</h1>
<% for user in @users -%>
  <%= render :partial => "/users/user", :locals => {:user => user} %>
<% end -%>
  <%= will_paginate @users, :class => 'pagination ajax' %>
</div>
<% elsif @items.first.class.to_s == "Collection" -%>
  <div id="datasets">
    <%= render :partial => "/datasets/datasets_associate", :locals => {:collection => @collection, :datasets => @items, :page_param => "addable_rest_page", :id_prefix => "addable"} %>
  </div>
<% end -%>
