<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta name="google-site-verification" content="-FNazUfnpuG4Fg1xNGC1voCEPz9TO50anvKoT7ymsVY" />
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>140kit : <%= @page_title.nil? ? controller.controller_name+" : "+controller.action_name : @page_title %></title>
  <link rel="shortcut icon" href="/favicon.gif" />
  <% if controller.controller_name == "networks" -%>
    <% if controller.action_name == "show" -%>
      <%= stylesheet_link_tag 'base' %>
      <%= stylesheet_link_tag 'rgraph' %>
      <!--[if IE]><script language="javascript" type="text/javascript" src="../../Extras/excanvas.js"></script><![endif]-->
      <%= javascript_include_tag 'jit' %>
      <%= javascript_include_tag 'rgraph' %>
    <% else -%>
      <%= javascript_include_tag 'swfobject' %>
    <% end -%>
  <% end -%>
  <%= stylesheet_link_tag 'style' %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "pagination" %>
  
</head>
<body>
<div id="wrapper" class="shadow">
  <% if false %>
	<a id="announce" href="http://hackfest.140kit.com">
		<div class="announcement" style="text-decoration:none">Join us for our 140kit Hackfest in Boston on August 14th &raquo;</div>
	</a>
	<% end %>
  <%= render :partial => '/layouts/main_menu' %>
	<p style="color: green"><%= flash[:notice] %></p>
	<div id ="content">
	  <%= yield %>
	  <div class="clearFloat"></div>
	  
  </div>
  <div class="message center">
  <p>Hey, we're just getting started. If you see anything wrong or dumb or messed up, we would love it if you ticketed it <a href="/tickets">here</a>.</p>
  </div>

</div>

<div id="footer">
  <%= render :partial => '/layouts/footer' %>
</div>

<br /><br />

</body>
</html>
