<% model = model || nil -%>
<% element_id = element_id || nil -%>
<% partial = partial || nil -%>
<div id="search" class="<%= controller.controller_name %>">
  <span class="input">
    <% form_tag(dataset_search_url, :id => 'search_form', :controller => 'collections', :action => 'search') do -%>
<% if !element_id.nil? -%>
    <%= hidden_field("element_id", "#{element_id}") %>
<% end -%>
<% if !partial.nil? -%>
    <%= hidden_field("partial", "#{partial}") %>
<% end -%>    
<%= text_field_tag(
      "query", 
      params['query'], 
      :value => "Search", 
      :id => 'search_query', 
      :class => 'fluid',
      :size => 20,
      :onkeypress => 'return disableEnterKey(event);',
      :onkeyup => "clearTimeout(search_timeout); 
      		search_timeout = setTimeout(\"" + remote_function(:url => dataset_search_url,  
      		:loading => "$('spinner').show()", 
      		:complete => "$('spinner').hide();$('refresh').show()", 
      		:submit => 'search_form') + "\",500);", 
      		:autocomplete => 'off'
    ) %>
    <%= hidden_field("conditions", "#{conditions}") %>
    <%= hidden_field("collection_id", "#{collection_id}") %>

    <% end -%>
  </span>
  <span id="spinner" style="text-align:center;display:none;"><img src="/images/loading.gif" /></span>
  <span id="refresh" style="text-align:center;display:none;"><%= link_to_remote("Full list", {:replace => 'dataDisplay', :url => datasets_curate_url(@collection.id)}, {:class => "big"})%></span>
  
</div>
<div class="clearFloat"></div>