<% 
  collection_name = @collection.single_dataset ? @collection.stream_metadata.term : @collection.name
  collection_name = "\"#{collection_name}\"" if @collection.scraped_collection
-%>
<h1>Networks</h1>
<h2><%= params[:style].capitalize %> Network for <%= link_to collection_name, "/collections/#{@collection.id}" %></h2>

<div id="container">

<div id="center-container" class="roundedEdge shadow">
  <div id="log"></div>
  <div id="infovis"></div>    
</div>

</div>

<div id="inner-details"></div>
<script>
  init(<%= @json %>);
</script>
<%= render :partial => "api_form" %>
<br />
API URL: <%= link_to @api_url, @api_url %>