<div id="dataDisplay">
  <h1>Analytics: <%= title.split("_").collect{|k| k.capitalize }.join(" ") %><% if subtitle %>, <%= subtitle %><% end %></h1>
  <script type="text/javascript">
    function graphData() {
      var query;
      query = new google.visualization.Query(
        "http://<%= API_URL %>/graphs/google/<%= graph_id %>.json"
      );
      query.send(graphDataHandler);
    }
    function graphDataHandler(response) {
      var data = response.getDataTable();
      var visualization;
      visualization = new google.visualization.<%= chart_type %>(document.getElementById('graphDraw'));
      visualization.draw(data, {<%= chart_options %>});
    }
    google.load(graphData());
  </script>
  <div id="graphDraw" class="roundedEdge shadow">
    <div style="text-align:center;"><img src="/images/loading.gif" /></div>
  </div>
  <h4>Embed code to your site:</h4>
  <textarea id="embed_gode" onclick="$('embed_gode').focus();$('embed_gode').select();">
&lt;script type=&quot;text/javascript&quot; src=&quot;http://www.google.com/jsapi&quot;&gt;&lt;/script&gt;
&lt;script type=&quot;text/javascript&quot;&gt;
  google.load('visualization', '1', {packages: ['table','barchart','columnchart','linechart','piechart','geomap']});
  &lt;/script&gt;
&lt;script type=&quot;text/javascript&quot; src=&quot;http://www.google.com/jsapi&quot;&gt;&lt;/script&gt;
&lt;script type=&quot;text/javascript&quot;&gt;
  google.load('visualization', '1', {packages: ['table','barchart','columnchart','linechart','piechart','geomap']});
&lt;/script&gt;
&lt;script type=&quot;text/javascript&quot;&gt;
  function graphData() {
      var query;
      query = new google.visualization.Query(
        &quot;http://<%= API_URL %>/graphs/google/<%= title %>.json&quot;
      );
      query.send(graphDataHandler);
  }

  function graphDataHandler(response) {
    var data = response.getDataTable();
    var visualization;
    visualization = new google.visualization.<%= chart_type %>(document.getElementById('graphDraw'));
    visualization.draw(data, {<%= chart_options %>});
  }
  google.load(graphData());
&lt;/script&gt;
&lt;div id=&quot;graphDraw&quot;&gt;&lt;/div&gt;
  </textarea>
</div>